$font-title: 'Roboto Serif',
'Sarabun',
Arial,
sans-serif;
$font-normal: 'Roboto',
'Sarabun',
Arial,
sans-serif;
$font-specific: 'Roboto Serif',
Arial,
sans-serif;

$primary-color: #125296;
$light-color: #f2f3f4;
$dark-color: #202020;
$warning-color: #f09207;
$danger-color: #dd2c32;
$normal-color: #6c757d;

body {
    font-family: $font-normal;
}


.rn-title {
    font-family: $font-title;
}

.fs-7 {
    font-size: 0.90rem;
}

.fs-8 {
    font-size: 0.85rem;
}

.fs-9 {
    font-size: 0.80rem;
}



.bg-header {
    background-color: $primary-color;
}

.bg-login {
    background-color: $primary-color;
}

.bg-primary {
    background-color: $primary-color !important;
}

.bg-light {
    background-color: $light-color !important;
}

.text-primary {
    color: $primary-color !important;
}

.btn-primary {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    box-shadow: $primary-color !important;
}

.btn-outline-primary {
    border-color: $primary-color !important;
    box-shadow: $primary-color !important;
    color: $primary-color !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
    background-color: $primary-color !important;
    color: #ffffff !important;
}

.border-primary {
    border-color: $primary-color !important;
}

.nav-pills {
    margin: 0px -0.25rem;

    .nav-item {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .nav-link {
        color: $primary-color !important;
        border: 1px solid $primary-color !important;
    }
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    box-shadow: $primary-color !important;
    color: #ffffff !important;
}


.rn-bgcover-center {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rn-edit-img .rn-edit-img-hover {
    opacity: 0;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #ffffff;
}

.rn-edit-img:hover .rn-edit-img-hover {
    opacity: 1;
}

.rn-container-scroll {
    overflow-x: auto;
    padding-bottom: 5rem;
}

.rn-container-maxwidth {
    min-width: 1280px;
}

.rn-table-dates {
    border-top: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    background-color: #ffffff;
}

.rn-table-rate {
    border-top: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    background-color: #ffffff;
    margin-bottom: 1.5rem;
}

.rn-table-row {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #d7d7d7;
}

.rn-table-rate-dateoption {
    width: 37%;
}

.rn-table-rate-name {
    width: 25%;
}

.rn-table-rate-status {
    width: 12%;
}

.rn-table-rate-action {
    width: 4.5%;

}

.rn-table-th {
    background-color: rgba(100, 100, 100, 0.1);
}

.rn-table-roomtype {
    /*background-color: rgba(13, 202, 204, 0.1);*/
}

.rn-table-border-start {
    border-left: 1px solid #d7d7d7;
}

.rn-cursor-pointer {
    cursor: pointer;
}

.rn-rate-input:focus {
    box-shadow: #ffcc00 0px 0px 0px 2px inset !important;
}

.rn-calr {
    line-height: 18px;
}

.rn-calr .day,
.rn-calr .date,
.rn-calr .month {
    display: block;
    text-align: center;
}

.rn-calr .day {
    font-size: 0.7rem;
}

.rn-calr .date {
    font-size: 1.0rem;
}

.rn-calr .month {
    font-size: 0.7rem;
}

.rn-day-flag {
    background-color: #fff4e5;
}

.rn-blackout {
    background-color: #b62b38;
}

.rn-tablehover {
    transition: all 0.3s;

    &:hover {
        background-color: rgba(180, 180, 180, 0.2);
    }
}

.rn-sidemenu-hover {
    transition: all 0.3s;

    &:hover {
        background-color: $light-color;
    }
}

.rn-side-submenu-hover {
    color: $normal-color;
    transition: all 0.3s;

    &:hover {
        color: #2686eb;
    }
}

.dropdown-item {
    color: $normal-color !important;
}

.dropdown-item:active {
    color: #ffffff !important;
}

.rn-overflew-y {
    overflow-x: hidden;
    overflow-y: auto;
}

.h-300px {
    height: 300px;
}

.rn-hover-underline:hover {
    text-decoration: underline;
}






.rn-overflow-h {
    overflow-y: hidden;
    overflow-x: auto;
}

.rn-min-width {
    min-width: 934px;
}

.rn-ctable {
    width: 100%;
}

.rn-c-tr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    transition: all 0.3s;
}

.rn-c-tr:hover {
    background-color: rgba(200, 200, 200, 0.1);
}

.rn-c-th {
    padding: 0.5rem 0.75rem;
}

.rn-c-td {
    padding: 0rem;
}

.rn-bd-start {
    border-left: 1px solid #dee2e6;
}

.rn-bd-top {
    border-top: 1px solid #dee2e6;
}

.rn-ctable .meal {
    width: 16%;
}

.rn-ctable .period {
    width: 16%;
}

.rn-ctable .dayflag {
    width: 18.5%;
}

.rn-ctable .minstay {
    width: 7%;
}

.rn-ctable .sgl {
    width: 8.5%;
}

.rn-ctable .twndbl {
    width: 8.5%;
}

.rn-ctable .quad {
    width: 8.5%;
}

.rn-ctable .xbedad {
    width: 8.5%;
}

.rn-ctable .xbedch {
    width: 8.5%;
}

.rn-ctable .unit {
    width: 17%;
}

.rn-ctable .maxad {
    width: 12.5%;
}

.rn-ctable .maxch {
    width: 12.5%;
}

.rn-ctable input {
    border-radius: 0px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    font-size: 0.90rem;
    width: 100%;
    padding: 0.5550rem 0.50rem;
    color: #212529;
    outline: none;
    transition: all 0.3s;
    height: 100%;
}

.rn-ctable input:focus {
    border: 1px solid #86b7fe;
}

.rn-ctable input:disabled {
    color: #65689D;
    cursor: default;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
}



























.rn-calendar {
    min-width: 294px;
    max-width: 628px;

    .calendar-box {
    	box-shadow: rgba(50, 50, 50, 0.1) 0px 0px 5px;
        background-color: #ffffff;
        border: 1px solid #a0a0a0;
        border-radius: 0.25rem;
        width: 100%;

        .calendar-head {
            position: relative;
            display: flex;
            width: 100%;

            .ico-prev,
            .ico-next {
                position: absolute;
                top: 0px;
            }

            .ico-prev {
                left: 0px;
            }

            .ico-next {
                right: 0px;
            }

            .ico-prev button,
            .ico-next button {
                width: 100%;
                height: 100%;
                border: 0;
                padding: 0;
                border-radius: 0;
                background-color: transparent;
                padding: 0.75rem 0.75rem;
                font-size: 1rem;
                font-weight: 700;
                color: #202020;
                cursor: pointer;
            }

            .month-st,
            .month-nd {
                width: 294px;
                padding: 0.75rem;
                font-weight: 700;
                font-size: 1rem;
                color: #202020;
                text-align: center;
            }

            .month-space {
                width: 40px;
                height: 100%;
            }
        }
    }

    .calendar-body .calendar-month-fx {
        display: flex;

        .calendar-month-st,
        .calendar-month-nd {
            width: 294px;
        }

        .week-th,
        .week-tr {
            display: flex;
            width: 100%;
        }

        .week-th {
            flex-wrap: nowrap;

	        .calendar-day-th {
	            width: 42px;
	            height: 42px;
	            font-size: 0.8rem;
	            color: #6c757d;
	            display: flex;
	            justify-content: center;
	            align-items: center;
	            border-bottom: 1px solid #d7d7d7;
	        }
        }

        .week-tr {
            flex-wrap: wrap;

            .calendar-day {
                width: 42px;
                height: 42px;
                font-size: 0.9rem;
                color: #6c757d;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                transition: all 0.3s;
                cursor: pointer;

                &:hover {
                	background-color: rgba(0, 0, 0, 0.1);
                }
            }

            .picked {
                cursor: default !important;
                /*
                background-color: rgba(0, 0, 0, 0.1);
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
                */

                span {
                	display: block;
                	width: 100%;
                	height: 100%;
	                background-color: #202020 !important;
	                color: #ffffff;
	                border-radius: 50%;
	                display: flex;
	                justify-content: center;
	                align-items: center;
                }
            }

            .disabled {
                cursor: default !important;
                background-color: transparent !important;
                opacity: 0.5;
            }
        }




        .calendar-month-space {
            width: 40px;
        }

    }
}


@media only screen and (max-width: 768px) {

    .rn-calendar {

        .month-space,
        .calendar-month-space,
        .calendar-month-nd,
        .month-nd {
            display: none;
        }

    }

}




.rn-weekend {
    background-color: #fffeee;
}